<a href="https://colab.research.google.com/github/niharikakatakam/1/blob/main/lists_2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [1]:
# write your code here
# 1. Remove empty strings from the list
list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]
list1 = [item for item in list1 if item.strip()]
print(list1)  # Output: ['Mike', 'Emma', 'Kelly', 'Brad']

['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [2]:


# 2. Add 7000 after 6000 in the nested list
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
print(list1)  # Output: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

#

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [3]:


# 3. Replace first occurrence of 20 with 200
list1 = [5, 10, 15, 20, 25, 50, 20]
index = list1.index(20)
list1[index] = 200
print(list1)  # Output: [5, 10, 15, 200, 25, 50, 20]

[5, 10, 15, 200, 25, 50, 20]

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [5]:


# 4. Remove all occurrences of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
list1 = [item for item in list1 if item != 20]
print(list1)  # Output: [5, 15, 25, 50]

[5, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [4]:


# 5. Concatenate two lists in the given order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
result = [x + y for x in list1 for y in list2]
print(result)  # Output: ['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']